{% extends 'main_template.html' %}

{% block header %}
<h1>{% block title %}Cadastrar semijoia{% endblock %}</h1>
{% endblock %}

{% block content %}

<form action="adicionar_semijoias">
    <p>
        codigo: <input type="text" name="codigo" value=" ">
    </p>
    <p>
        valor: <input type="text" name="valor" value=" ">
    </p>
    <p>
      desc: <input type="text" name="desc" value=" ">
    </p>
    <p>
      cor: <input type="text" name="cor" value=" ">
    </p>
    <p>
      qualidade: <input type="text" name="qualidade" value="  ">
    
    <button>Cadastrar</button>
</form>

{% endblock %}


