{% extends 'main_template.html' %}

{% block header %}
<h1>{% block title %}Cadastrar semijoia{% endblock %}</h1>
{% endblock %}

{% block content %}

<form action="adicionar_semijoias">
    <p>
        codigo: <input type="text" codigo="codigo" value="codigo">
    </p>
    <p>
        valor: <input type="text" valor="valor" value="valor">
    </p>
    <p>
      desc: <input type="text" desc="desc" value="desc">
    </p>
    <p>
      cor: <input type="text" cor="cor" value="cor">
    </p>
    <p>
      qualidade: <input type="text" qualidade="qualidade" value="qualidade">
    
    <button>Cadastrar</button>
</form>

{% endblock %}


