{% extends 'main_template.html' %}

{% block header %}
  <h1>{% block title %}Listagem de semijoias{% endblock %}</h1>
{% endblock %}

{% block content %}
  
<p>
    <a href="{{ url_for("form_adicionar_semijoias") }}">Cadastrar nova semijoias</a>
</p>

<table border="1">
    <tr>
        <td>codigo</td>
        <td>valor</td>
        <td>desc</td>
        <td>corc</td>
        <td>qualidadec</td>
    </tr>

    {% for p in semijoia %}
    <tr>
        <td>{{p.codigo}}</td>
        <td>{{p.valor}}</td>
        <td>{{p.desc}}</td>
        <td>{{p.cor}}</td>
        <td>{{p.qualidade}}</td>
    </tr>
    {% endfor %}
   
</table>

{% endblock %}